<h1><%= "#{Entry.model_name.human}#{t('view.form.edit')}" %></h1>

<%= render 'form' %>

<%= link_to t('view.form.back_to_show'), @entry %> |
<%= link_to t('view.form.back_to_index'), entries_path %>
